<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="미니 다이어리">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://main6419.github.io/mini-diary/">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/free-board-dd96c.appspot.com/o/images%2Fog.png?alt=media&token=59d9191f-6cd6-4818-b1ee-cc450c0c968e">
    <meta name="description" content="미니 다이어리 사이트">
    <title>Mini Diary</title>
    <link rel="icon" type="image/png" sizes="48x48" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/commons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css//allDiary.css">
    <script src="../js/commons/commons.js" type="module"></script>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini diary</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile -->
        </section>
        <section class="section-contents">
          <div class="title-box">
            <h2 class="title">전체 다이어리</h2>
            <article class="search-bar">
              <h2 class="a11y-hidden">검색창</h2>
                <label for="input-search" class="a11y-hidden">다이어리 제목 검색창</label>
                <input type="text" id="input-search" class="input-search" placeholder="제목 검색">
            </article>
          </div>
  
          
          <ul class="allDiary-lists">
          </ul>
          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="../img/loading.gif" alt="로딩중 이미지">
            <span>Loading...</span>
          </article>
        </section>
        <div class="links">
          <!-- links -->
        </div>
      </div>
    </div>
    <script src="../js/allDiary/allDiary.js" type="module"></script>
  </body>
</html>
