<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="미니 다이어리" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://main6419.github.io/mini-diary/" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/free-board-dd96c.appspot.com/o/images%2Fog.png?alt=media&token=59d9191f-6cd6-4818-b1ee-cc450c0c968e"
    />
    <meta name="description" content="미니 다이어리 사이트" />
    <title>Mini Diary</title>
    <link rel="icon" type="image/png" sizes="48x48" href="../img/favicon.png" />
    <link rel="stylesheet" href="../css/commons.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/chattingRoom.css" />
    <script src="../js/commons/commons.js" type="module"></script>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini diary</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile -->
        </section>
        <section class="section-contents">
          <button class="btn-createRoomModal">채팅방 생성</button>
          <button class="btn-joinRoomModal">채팅방 참여</button>
          <article class="search-bar">
            <h2 class="a11y-hidden">검색창</h2>
              <label for="input-search" class="a11y-hidden">다이어리 제목 검색창</label>
              <input type="text" id="input-search" class="input-search" placeholder="방이름 검색">
          </article>
          <div>
            <div class="page-btns">
              <span class="currentpage">1</span>/<span class="totalpage">1</span>
              <button class="btn-prev"><span class="a11y-hidden">이전</span></button>
              <button class="btn-next"><span class="a11y-hidden">다음</span></button>
            </div>
          </div>
         
          <h2 class="a11y-hidden">채팅방</h2>
          <ul class="room-list"></ul>

          <article class="createRoom-modal">
            <div class="dim"></div>
            <h2 class="a11y-hidden">채팅방 생성</h2>
            <form class="modal-form">
              <h3 class="modal-title">채팅방 설정</h3>

              <div class="input-box">
                <label for="input-title">방이름</label>
                <input id="input-title" type="text" maxlength="20"/>
              </div>

              <div class="input-box">
                <label for="input-limit">최대 인원</label>
                <input id="input-limit" type="number" min="2" max="100"/>
              </div>

              <div class="input-box">
                <label for="checkbox-private">비공개</label>
                <input id="checkbox-private" type="checkbox" />
                <label for="input-password" class="a11y-hidden">암호</label>
                <input id="input-password" type="password" placeholder="암호" maxlength="12"  autocomplete="off" />
              </div>
              <button class="btn-createRoom" type="submit">생성하기</button>
              <button class="btn-close" type="button">X</button>
            </form>
          </article>
          <article class="joinRoom-modal">
            <div class="dim"></div>
            <form class="modal-form">
              <h2 class="modal-title">채팅방 참여</h2>
              <label for="input-roomId">채팅방 ID</label>
              <input type="text" id="input-roomId">
              <button type="submit" class="btn-join">참여</button>
              <button class="btn-close" type="button">X</button>
            </form>
          </article>
          <article class="password-modal">
            <h2 class="a11y-hidden">채팅방 비밀번호 입력창</h2>
            <div class="dim"></div>
            <form class="modal-form">
                <h3 class="modal-title">비밀번호 확인</h3>
                <p class="modal-text">비밀번호를 입력해주세요.</p>
                <input class="input-password" type="password"  autocomplete="off" />
              <div class="modal-btns">
                <button type="submit" class="btn-confirm">Confirm</button>
                <button type="button" class="btn-cancel">Cancel</button>
              </div>
          </form>
          </article>
          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="../img/loading.gif" alt="로딩중 이미지">
            <span>채팅방 불러오는중...</span>
          </article>
        </section>
        </section>
        <div class="links">
          <!-- links -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
    <script src="../js/chatting/chattingRoom.js" type="module"></script>
  </body>
</html>
