<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="나의 미니 다이어리 사이트">
  <title>Mini Daily</title>
  <link rel="stylesheet" href="../css/diary.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../js/commons/template.js" type="module"></script>
</head>
<body>
  <h1 class="a11y-hidden">Mini Daily</h1>
  <div class="wrapper">
    <div class="inner">
      <section class="section-profile">
       
      </section>
      <section class="section-contents">
        <h2 class="a11y-hidden">다이어리</h2>
        <div class="daily-wrapper">
          <h3 class="daily-title">존재하지 않는 게시글</h3>
          <div class="daily-info">
            <time class="daily-createdAt" datetime="2023"></time>
            <p class="daily-contents"></p>
          </div>
          <div class="daily-btns">
            <button class="btn-edit" type="button">
              <span class="a11y-hidden">수정</span>
            </button>
            <button class="btn-del" type="button">
              <span class="a11y-hidden">삭제</span>
            </button>
          </div>
          <a class="dailyList-link" href="dailyList.html">
            <span class="a11y-hidden">다이어리 목록으로 돌아가기 링크</span>
          </a>
        </div>
        <form class="edit-form">
          <input class="input-title" type="text" placeholder="제목">
          <textarea class="input-contents" placeholder="내용"></textarea>
          <div class="edit-btns">
            <button type="button" class="btn-cancel">취소하기</button>
            <button type="button" class="btn-editCompleted">수정하기</button>
          </div>

        </form>
      </section>
      <div class="links">
       
      </div>
    </div>
  </div>
  <script src="../js/commons/commons.js" type="module"></script>
  <script src="../js/diary/diary.js" type="module"></script>
</body>
</html>