<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="미니 다이어리">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://minidiary.site/">
  <meta
  property="og:image"
  content="https://firebasestorage.googleapis.com/v0/b/mini-diary-65ff3.appspot.com/o/images%2Fog%2Fog%20(2).png?alt=media&token=eeac22e7-809e-4670-a7e3-a2bc780251e4&_gl=1*1pmjxx2*_ga*MTQzNTY1ODUwMi4xNjg0MjI0MTA2*_ga_CW55HF8NVT*MTY4NTg5MDIzOC42NC4xLjE2ODU4OTAyOTYuMC4wLjA"
/>
  <meta name="description" content="오늘 하루를 기록하고 여러분의 일상과 감정을 공유 해보세요.">

  <title>mini-diary</title>
</head>
<body>
  <section class="findAccount-wrapper">
    <h1 class="a11y-hidden">이메일 비밀번호 찾기</h1>
    <ul class="form-menu">
      <li class="findEmail"><button class="btn-emailForm active">이메일</button></li>
      <li class="findPw"><button class="btn-pwForm">비밀번호</button></li>
    </ul>
    <form class="findEmail-form active">
      <div class="input-nicknameBox active">
        <label class="a11y-hidden" for="input-nickname">닉네임</label>
        <input id="input-nickname" type="text" placeholder="닉네임" maxlength="12">
        <p class="input-msg"></p>
      </div>
      <div class="input-phoneBox active">
        <label class="a11y-hidden" for="input-phone">휴대전화 번호</label>
        <input id="input-phone" type="text" placeholder="휴대전화 ( - 제외)" maxlength="13">
        <p class="input-msg"></p>
      </div>
        <p class="find-result"></p>
      <button class="btn-findEmail" type="button">이메일 찾기</button>
    </form>
    
    <form class="changePw-form">
      <div class="input-emailBox active">
        <label class="a11y-hidden" for="input-email">이메일</label>
        <input id="input-email" type="text" placeholder="이메일">
        <p class="input-msg"></p>
      </div>
      <div class="input-phoneBox active" >
        <label class="a11y-hidden" for="input-phone2">휴대전화 번호</label>
        <input id="input-phone2" type="text" placeholder="휴대전화 ( - 제외)" maxlength="13">
        <p class="input-msg"></p>
      </div>
      <p class="change-result">
       
      </p>
    <button class="btn-changePw" type="button">비밀번호 변경</button>
  </form>
  </section>

</body>
</html>