<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="나의 미니 다이어리 사이트">
    <title>Mini Daily</title>
    <link rel="stylesheet" href="../css/fortune.css">
    <script src="../js/commons/commons.js" type="module"></script>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini Daily</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <!-- section-profile  -->
        </section>
        <section class="section-contents">
          <h2 class="fortune-title active">오늘의 운세</h2>
          <p class="description">마음에 드는 카드 1장을 클릭 해주세요.</p>
          <section class="carousel-wrapper">
            <h3 class="a11y-hidden">운세보기</h3>
            <ul class="carousel"></ul>
          </section>
          <button class="btn-prev" type="button">
            <span class="a11y-hidden">이전</span>
          </button>
          <button class="btn-next" type="button">
            <span class="a11y-hidden">다음</span>
          </button>
          <button class="btn-reset" type="button">운세 다시보기</button>
        </section>
        <div class="links">
          <!-- links  -->
        </div>
      </div>
    </div>
    <script src="../js/fortune/fortune.js"></script>
  </body>
</html>
