<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="나의 미니 다이어리 사이트">
  <title>Mini Daily</title>
  <link rel="stylesheet" href="../css/fortune.css">

</head>
<body>
  <!-- layout -->
  <h1 class="a11y-hidden">Mini Daily</h1>
  <div class="wrapper">
    <div class="inner">
      <section class="section-profile">
        <h2 class="a11y-hidden">프로필 영역</h2>
        <article class="clock">
          <h2 class="a11y-hidden">clock</h2>
          <span class="time">
          </span>
        </article>
        <article class="profile">
          <h2 class="a11y-hidden">유저 프로필</h2>
          <img class="profile-img" src="../img/profile.png" alt="유저 프로필 이미지">
          <span class="profile-name">User</span>
          <div class="introduce-box">
            <p class="profile-introduce">
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem incidunt voluptate cum aperiam, dolorum atque minima at dignissimos saepe, cupiditate et asperiores dicta cumque ex vitae provident, officia dolor.
            </p>
          </div>
        </article>
        <article class="calendar">
          <h2 class="a11y-hidden">달력</h2>
          <table>
            <caption>
              <time datetime="2023-04">
                <span class="year">2023</span>년
                <span class="month">4</span>월
              </time>
            </caption>
            <tbody>
              <tr>
                <th scope="col">일</th>
                <th scope="col">월</th>
                <th scope="col">화</th>
                <th scope="col">수</th>
                <th scope="col">목</th>
                <th scope="col">금</th>
                <th scope="col">토</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="prev">
            <span class="a11y-hidden">이전달</span>&#60;
          </button>
           <button type="button" class="next">
            <span class="a11y-hidden">다음달</span>&#62;
          </button>
        </article>
      </section>
      <!-- layout -->
      <section class="section-contents">
        <h2 class="title">오늘의 운세</h2>
        <p class="description">마음에 드는 카드 1장을 클릭 해주세요.</p>
        <section class="carousel-wrapper">
          <h3 class="a11y-hidden">운세보기</h3>
          <ul class="carousel">
          </ul>        
        </section>
        <button class="pre-btn"><span class="a11y-hidden">이전</span></button>
        <button class="next-btn"><span class="a11y-hidden">다음</span></button>
        <button class="btn-reset">운세 다시보기</button>
      </section>
      <div class="links">
        <a href="../../">홈</a>
        <a href="dailyList.html">다이어리</a>
        <a href="write.html">글작성</a>
        <a href="miniGame.html">미니게임</a>
        <a href="photoAlbum.html">사진첩</a>
        <a href="fortune.html">운세보기</a>
      </div>
    </div>
  </div>
  <script src="../js/main/libray.js"></script>
  <script src="../js/main/calendar.js"></script>
  <script src="../js/main/clock.js"></script>
  <script src="../js/main/main.js"></script>
  <script src="../js/fortune/fortune.js"></script>
</body>
</html>