<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="미니 다이어리" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://minidiary.netlify.app/" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/mini-diary-65ff3.appspot.com/o/images%2Fog%2Fog%20(2).png?alt=media&token=eeac22e7-809e-4670-a7e3-a2bc780251e4&_gl=1*1pmjxx2*_ga*MTQzNTY1ODUwMi4xNjg0MjI0MTA2*_ga_CW55HF8NVT*MTY4NTg5MDIzOC42NC4xLjE2ODU4OTAyOTYuMC4wLjA"
    />
    <meta name="description" content="오늘 하루를 기록하고 여러분의 일상과 감정을 공유 해보세요." />
    <title>Mini Diary</title>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini Diary</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile-->
        </section>
        <section class="section-contents">
          <h2 class="a11y-hidden">홈</h2>
          <div class="banner">
            <span class="banner-title">MINI DIARY</span>
            <span class="banner-subtitle">오늘의 <strong>일상</strong>과 <strong>감정</strong>을 함께 공유해 보아요.</span>
          </div>

          <div class="list-box">
            <div class="recent-diaryBox">
              <h2>최신 다이어리</h2>
              <ul class="recent-diaryLists">
                <li class="loading-text">로딩중...</li>
                <!-- 최신글 -->
              </ul>
            </div>
            <div class="today-FortuneBox">
              <h2>오늘의 운세</h2>
              <p class="fortune-cotents">
                로딩중...
                <!-- 오늘 운세 -->
              </p>
            </div>
          </div>
          <section class="section-diary">
            <h2 class="title">인기 다이어리</h2>
            <ul class="diary-lists">
              <!-- 전체 다이어리 리스트 -->
            </ul>
          </section>
          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="./img/loading.gif" alt="로딩중 이미지" />
            <span>Loading...</span>
          </article>
        </section>
        <div class="links">
          <!-- link -->
        </div>
      </div>
    </div>
  </body>
</html>
