<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="미니 다이어리" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://minidiary.site/" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/mini-diary-65ff3.appspot.com/o/images%2Fog%2Fog%20(2).png?alt=media&token=eeac22e7-809e-4670-a7e3-a2bc780251e4&_gl=1*1pmjxx2*_ga*MTQzNTY1ODUwMi4xNjg0MjI0MTA2*_ga_CW55HF8NVT*MTY4NTg5MDIzOC42NC4xLjE2ODU4OTAyOTYuMC4wLjA"
    />
    <meta
      name="description"
      content="오늘 하루를 기록하고 여러분의 일상과 감정을 공유 해보세요."
    />
    <title>Mini Diary</title>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini diary</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile -->
        </section>
        <section class="section-contents">
          <h2 class="title">마이 페이지</h2>
          <section class="profile-box">
            <h3 class="a11y-hidden">유저 정보창</h3>
            <div class="profileImg-box">
              <img
                class="profile-img"
                src="../img/placeholderImg.png"
                alt="유저 프로필 이미지"
              />
              <button class="btn-changeProfileImg" type="button">
                이미지 변경
              </button>
            </div>
            <div class="profile-info">
              <span class="user-email">이메일 : </span>
              <span class="user-nickname">닉네임 : </span>
              <span class="user-grade">등급 : </span>
              <span class="user-point">포인트 : </span>
              <span class="user-diary">다이어리 : </span>
              <span class="user-Comment">댓글 : </span>
              <div class="info-btns">
                <button class="btn-changePassword" type="button">
                  비밀번호 변경
                </button>
                <button class="btn-changeIntroduce" type="button">
                  소개글 변경
                </button>
                <button class="btn-gradeInfo" type="button">등업 정보</button>
              </div>
            </div>
          </section>
          <article class="empathy-box">
            <h2>나의 공감 목록</h2>
            <div id="empathy-slide" class="swiper-container">
              <ul class="swiper-wrapper"></ul>
            </div>
            <div class="swiper-button-prev"><span class="a11y-hidden">다음</span></div>
            <div class="swiper-button-next"><span class="a11y-hidden">이전</span></div>
            <div class="pagination"></div>
          </article>

          <article class="introduce-modal">
            <div class="dim"></div>
            <h2 class="a11y-hidden">소개글 변경창</h2>
            <form class="introduce-form">
              <h3 class="form-header">소개글 수정</h3>
              <textarea
                class="input-introduce"
                maxlength="150"
                placeholder="내용"
              ></textarea>
              <div class="form-bottom">
                <span class="text-counter">0/150</span>
                <div class="form-btns">
                  <button class="btn-submit" type="submit">수정하기</button>
                  <button class="btn-cancel" type="button">취소하기</button>
                </div>
              </div>
            </form>
          </article>
          <article class="profileImg-modal">
            <h2 class="a11y-hidden">프로필 이미지 변경창</h2>
            <div class="dim"></div>
            <form class="profileImg-form">
              <h3 class="form-header">프로필 이미지 변경</h3>
              <button class="custom-input" type="button">
                <img
                class="preview-img"
                src="./img/imgUpload.png"
                alt="업로드 이미지"
              />
              </button>
              <input type="file" class="input-profileImg" />
              <div class="form-btns">
                <button class="btn-submit" type="submit">변경하기</button>
                <button class="btn-cancel" type="button">취소하기</button>
              </div>
            </form>
          </article>

          <article class="password-modal">
            <div class="dim"></div>
            <h2 class="a11y-hidden">비밀번호 변경창</h2>
            <form class="password-form">
              <h3 class="form-header">비밀번호 변경</h3>
              <label for="input-currentPw"></label>
              <input
                id="input-currentPw"
                type="password"
                maxlength="16"
                placeholder="현재 비밀번호"
              />
              <label for="input-newPw"></label>
              <input
                id="input-newPw"
                type="password"
                maxlength="16"
                placeholder="새 비밀번호"
              />
              <label for="input-chkNewPw"></label>
              <input
                id="input-chkNewPw"
                type="password"
                maxlength="16"
                placeholder="새 비밀번호 확인"
              />
              <div class="form-btns">
                <button class="btn-submit" type="submit">변경하기</button>
                <button class="btn-cancel" type="button">취소하기</button>
              </div>
            </form>
          </article>

          <article class="grade-modal">
            <div class="dim"></div>
            <div class="modal-contents">
              <h2 class="a11y-hidden">등업 정보</h2>
              <div class="grade-info">
                <ul class="grade-lists">
                  <li>
                    <span class="levelup-point">1000 point</span>
                    <span class="grade VIP">VIP</span>
                  </li>
                  <li>
                    <span class="levelup-point">500 point </span>
                    <span class="grade pro">프로</span>
                  </li>
                  <li>
                    <span class="levelup-point">100 point </span>
                    <span class="grade good">우수</span>
                  </li>
                  <li>
                    <span class="levelup-point">0~99 point </span>
                    <span class="grade">일반</span>
                  </li>
                </ul>
                <div class="point-info">
                  <h4 class="pointInfo-title">포인트 획득 방법</h4>
                  <p>일일 다이어리 작성시 3Point</p>
                  <p>일일 댓글 작성시 1회 1Point</p>
                  <p>공감 수 1당 1Point</p>
                </div>
              </div>
              <div class="grade-notice">
                <h2>일일 획득 제한</h2>
                <p>
                  다이어리 작성은 <strong>일일 최초 1회</strong> 포인트가
                  지급됩니다.
                </p>
                <p>
                  댓글 작성은 <strong>일일 최대 3회까지</strong> 포인트가
                  지급됩니다.
                </p>
                <p>
                  공감 수에 따른 포인트 획득은
                  <strong>일일 제한이</strong> 없습니다.
                </p>
              </div>
              <span class="current-grade">나의 현재 등급 : </span>
              <span class="next-levelpoint">등업까지 남은 포인트 : </span>
              <button class="btn-close" type="button">
                <span class="a11y-hidden">닫기</span>
              </button>
            </div>
          </article>

          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="./img/loading.gif" alt="로딩중 이미지" />
            <span>Loading...</span>
          </article>
        </section>
        <div class="links">
          <!-- links -->
        </div>
      </div>
    </div>
  </body>
</html>
