<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="미니 다이어리" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://minidiary.site/" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/mini-diary-65ff3.appspot.com/o/images%2Fog%2Fog%20(2).png?alt=media&token=eeac22e7-809e-4670-a7e3-a2bc780251e4&_gl=1*1pmjxx2*_ga*MTQzNTY1ODUwMi4xNjg0MjI0MTA2*_ga_CW55HF8NVT*MTY4NTg5MDIzOC42NC4xLjE2ODU4OTAyOTYuMC4wLjA"
    />
    <meta name="description" content="오늘 하루를 기록하고 여러분의 일상과 감정을 공유 해보세요." />
    <title>Mini Diary</title>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini Daily</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile-->
        </section>
        <section class="section-contents">
          <h2 class="a11y-hidden">다이어리 작성</h2>
          <time class="today-date" datetime="2023"></time>
          <form class="diary-form">
            <label for="input-title" class="a11y-hidden">제목</label>
            <input
              id="input-title"
              type="text"
              placeholder="오늘의 다이어리"
              maxlength="30"
            />
            <label for="input-contents" class="a11y-hidden">내용</label>
            <textarea
              id="input-contents"
              placeholder="오늘은 어떤일이 있었나요? 이야기를 공유해 보아요."
            ></textarea>
            <div class="mood-box">
              <h3 class="mood-title">오늘의 기분은 어때요?</h3>
              <ul class="mood-list">
                <li class="mood-item">
                  <input
                    type="radio"
                    class="a11y-hidden"
                    name="mood"
                    value="happy"
                    id="mood-happy"
                  />
                  <label class="label-happy" for="mood-happy">
                    <span class="a11y-hidden">기쁨</span>
                  </label>
                  <span class="mood-tag">기쁨</span>
                </li>
                <li class="mood-item">
                  <input
                    type="radio"
                    class="a11y-hidden"
                    name="mood"
                    value="good"
                    id="mood-good"
                  />
                  <label class="label-good" for="mood-good">
                    <span class="a11y-hidden">좋음</span>
                  </label>
                  <span class="mood-tag">좋음</span>
                </li>
                <li class="mood-item">
                  <input
                    type="radio"
                    class="a11y-hidden"
                    name="mood"
                    value="angry"
                    id="mood-angry"
                  />
                  <label class="label-angry" for="mood-angry">
                    <span class="a11y-hidden">화남</span>
                  </label>
                  <span class="mood-tag">화남</span>
                </li>
                <li class="mood-item">
                  <input
                    type="radio"
                    class="a11y-hidden"
                    name="mood"
                    value="gloomy"
                    id="mood-gloomy"
                  />
                  <label class="label-gloomy" for="mood-gloomy">
                    <span class="a11y-hidden">우울</span>
                  </label>
                  <span class="mood-tag">우울</span>
                </li>
                <li class="mood-item">
                  <input
                    type="radio"
                    class="a11y-hidden"
                    name="mood"
                    value="sad"
                    id="mood-sad"
                  />
                  <label class="label-sad" for="mood-sad">
                    <span class="a11y-hidden">슬픔</span>
                  </label>
                  <span class="mood-tag">슬픔</span>
                </li>
              </ul>
            </div>
            <label for="input-upload" class="a11y-hidden"
              >이미지 업로드 버튼</label
            >
            <input type="file" multiple id="input-upload" />
            <h3 class="upload-title">
              이미지 업로드 (용량: 5KB 이하, 형식: png,jpg,webp)
            </h3>
            <div class="upload-wrapper">
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="./img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="./img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="./img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
            </div>
            <button type="button" class="btn-submit">작성하기</button>
          </form>
          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="./img/loading.gif" alt="로딩중 이미지" />
            <span>Loading...</span>
          </article>
        </section>
        <div class="links">
          <!-- links -->
        </div>
      </div>
    </div>
  </body>
</html>
