<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="미니 다이어리" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://main6419.github.io/mini-diary/" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/free-board-dd96c.appspot.com/o/images%2Fog.png?alt=media&token=59d9191f-6cd6-4818-b1ee-cc450c0c968e"
    />
    <meta name="description" content="미니 다이어리 사이트" />
    <link rel="icon" type="image/png" sizes="48x48" href="../img/favicon.png" />
    <link rel="preload" as="style" href="../css/commons.css" />
    <link rel="stylesheet" href="../css/commons.css" />
    <link rel="preload" as="style" href="../css/main.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="preload" as="style" href="../css/write.css" />
    <link rel="stylesheet" href="../css/write.css" />
    <script src="../js/commons/commons.js" type="module"></script>
    <title>Mini Diary</title>
  </head>
  <body>
    <h1 class="a11y-hidden">Mini Daily</h1>
    <div class="wrapper">
      <div class="inner">
        <section class="section-profile">
          <h2 class="a11y-hidden">프로필 영역</h2>
          <!-- section-profile-->
        </section>
        <section class="section-contents">
          <h2 class="a11y-hidden">다이어리 작성</h2>
          <form class="post-form">
            <label for="input-title" class="a11y-hidden">제목</label>
            <input id="input-title" type="text" placeholder="오늘의 다이어리" />
            <label for="input-contents" class="a11y-hidden">제목</label>
            <textarea id="input-contents" placeholder="오늘은 어떤일이 있었나요? 이야기를 공유해 보아요."></textarea>
            <label for="input-upload" class="a11y-hidden"
              >이미지 업로드 버튼</label
            >
            <input type="file" multiple id="input-upload" />
            <h2 class="upload-title">이미지 업로드</h2>
            <div class="upload-wrapper">
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="../img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="../img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
              <div class="upload-imgBox">
                <button class="btn-upload" type="button">
                  <img
                    class="preview-img"
                    src="../img/imgUpload.png"
                    alt="업로드 이미지"
                  />
                </button>
                <button class="btn-reset" type="button">
                  <span class="a11y-hidden">삭제 버튼</span>
                </button>
              </div>
            </div>
            <button type="button" class="btn-submit">작성하기</button>
          </form>
          <article class="loading-modal">
            <h2 class="a11y-hidden">로딩화면</h2>
            <img src="../img/loading.gif" alt="로딩중 이미지">
            <span>Loading...</span>
          </article>
        </section>
        <div class="links">
          <!-- links -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
    <script src="../js/diary/write.js" type="module"></script>
  </body>
</html>
