.section-contents{
  display: flex;
  gap: 50px;
  position: relative;
  background-color: antiquewhite;
}
.joinUsers-wrapper{
  flex-basis: 300px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
.join-count{
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.title{
  margin: -20px -20px 10px -20px;
  background-color: aliceblue;
  border-bottom: 1px solid #bdbdbd;
  padding: 15px 0px;
  text-align: center;
}
.join-lists{
  overflow-y: scroll;
}
.join-user{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.join-user .profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.loading-modal span{
  font-size: 20px;
}
.chatting{
  flex-basis: 400px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  overflow: hidden;
}
.chatting-box{
  width: 100%;
  height: calc(100% - 50px);
  border-bottom: none;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: lightblue;
  overflow: scroll;
  
}
.message-box{
  display: flex;
  align-self: center;
  gap: 8px;
  margin-bottom: 15px;
}
.btn-del{
  background: none;
  border: none;
  cursor: pointer;
  align-self:flex-end;
  color: crimson;
}
.date-box{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  width: 150px;
  margin: auto auto 20px auto;
}
.message-box.sent{
  flex-direction: row-reverse;
  justify-content: right;
  margin-right: 5px;
}

.message-box.sent .message-img{
  display: none;
}
.message-box.sent .user-name{
  display: none;
}
.message-box.sent .message{
  position: relative;
  background-color: gold;
  border-radius: .4em;
}
.message-box.sent .message:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: gold;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -10px;
}
.user-name{
  position: relative;
  bottom: 5px;
  align-self: center;
}
.message{
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 12px;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: .4em;
  max-width: 200px;
}
.message-box.received .message{
  margin-left: 8px;
}
.message-box.received .message::after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -10px;
}
.createdAt {
  font-size: 13px;
  color: #555;
  align-self:flex-end;
}
.message-box.received .createdAt{
  position: relative;
  bottom: 5px;
}
.message-img{
  width: 40px;
  height: 40px;
  border-radius: 15px;
  vertical-align: middle;
  border: 2px solid #bdbdbd;
}
.chatting-form{
  width: 100%;
  border-top: none;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}
.input-box {
  display: flex;
}
#input-chatting{
  flex-basis: 85%;
  height: 50px;
  resize: none;
  border: none;
  box-sizing: border-box;
  padding: 10px;
}
.btn-send{
  flex-basis: 15%;
  border: none;
  background-color: gold;
  cursor: pointer;
}
.exit-btn{
  position: absolute;
  bottom: 80px;
  left: 24px;
  color: crimson;
}

.links .chattingRoom-link{
  background-color: antiquewhite;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}