.section-contents {
  position: relative;
  background-color: antiquewhite;
  height: 660px;
  overflow-y: scroll;
}
.page-btns {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  margin-bottom: 10px;
}
.btn-prev,
.btn-next {
  width: 30px;
  height: 30px;
  background: url("../img/prev-btn.png") no-repeat center / 24px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-prev.inactive,
.btn-next.inactive{
  opacity: 0.3;
}
.btn-next {
  background: url("../img/next-btn.png") no-repeat center / 24px;
}
.btn-createRoomModal,
.btn-joinRoomModal {
  border: none;
  background-color: gold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.btn-createRoomModal:hover {
  background-color: rgb(252, 236, 10);
}
.btn-joinRoomModal {
  background-color: #fff;
}
.btn-joinRoomModal:hover {
  background-color: #f2f2f2;
}
.search-bar {
  display: block;
  float: right;
  width: 180px;
  border-radius: 20px;
  border: none;
  border: 2px solid #bdbdbd;
  padding: 5px 20px;
  background-color: white;
  position: relative;
}
.search-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  background: url(/src/img/sprite.png) no-repeat -572px -353px / 620px 416px;
  width: 20px;
  height: 20px;
}
.input-search {
  width: 100%;
  margin-left: 15px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}
.room-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-content: center;
  margin: 0 auto;
}
.room {
  position: relative;
  height: 120px;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  height: 150px;
}
.room:hover {
  background-color: #f2f2f2;
}
.room a {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.room.private::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/lock.png) no-repeat right / 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.roomId{
  position: absolute;
  top: 20px;
  left: 8px;
  font-size: 11px;
}
.room-title{
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  text-align: left;
}
.count-state {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  margin-right: 5px;
}
.user-count {
  vertical-align: top;
}
.createRoom-modal,
.joinRoom-modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.createRoom-modal.active,
.joinRoom-modal.active {
  display: block;
}
.dim {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
}
.input-box {
  margin-bottom: 10px;
  width: 100%;
}
#input-title {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 8px;
}
#input-limit {
  width: 40px;
  height: 20px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
#input-password {
  display: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 200px;
}
#checkbox-private {
  vertical-align: middle;
}
#input-password.active {
  display: inline-block;
}
.btn-createRoom {
  width: 200px;
  margin: 0 auto;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 0px;
  margin-top: 10px;
  cursor: pointer;
}
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}
.btn-close:hover {
  background-color: #f2f2f2;
}

.joinRoom-modal label {
  color: dodgerblue;
  margin-bottom: 10px;
}
.joinRoom-modal .modal-form {
  align-items: center;
}
.joinRoom-modal #input-roomId {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.joinRoom-modal .btn-join {
  padding: 10px 15px;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}
.joinRoom-modal .btn-join:hover {
  background-color: rgb(11, 117, 224);
}
.modal-title {
  text-align: center;
  margin-bottom: 20px;
}
.loading-modal span {
  font-size: 20px;
}
.password-modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.password-modal.active {
  display: block;
}
.password-modal .modal-form {
  top: 20%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 60px);
  max-width: 450px;
  border-radius: 5px;
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-text {
  margin-bottom: 20px;
  font-size: 14px;
}

.input-password {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}
.input-password:focus {
  outline: none;
  border: 2px solid dodgerblue;
}

.modal-btns {
  text-align: right;
}

.btn-confirm {
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-confirm:hover {
  background-color: #3e8e41;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-cancel:hover {
  background-color: #da190b;
}
.links .chattingRoom-link {
  background-color: antiquewhite;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}
