.section-contents{
  overflow-y: scroll;
  position: relative;
}
.diary-wrapper{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.diary-wrapper.inactive{
  display: none;
}
.diary-title{
  font-size: 14px;
  background-color: #eee;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 20px;
  min-height: 14px;
}
.auth-info{
  display: none;
}
.auth-info.active{
  display: block;
}
.diary-profileImg{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
}
.diary-auth{
  font-size: 14px;
}
.diary-info{
  padding: 5px 20px 20px 20px;
}
.diary-createdAt{
  font-size: 12px;
  color: #bdbdbd;
}
.diary-img{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 100%;
  min-height: 380px;
  object-fit: cover;
  
}
.diary-contents{
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.2;
  margin: 20px 0;
}
.btn-back{
  position: absolute;
  top: 0px;
  left: -45px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}
.btn-back::after,
.btn-edit::after,
.btn-del::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-back::after{
  background: url(../img/sprite.png) no-repeat -477px -304px / 620px 416px;
  width: 8px;
  height: 15px;
}
.diary-btns{
  position: absolute;
  top: 35px;
  right: 20px;
}
.btn-edit{
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background:none;
  position: relative;
}
.btn-edit::after{
  background: url(../img/sprite.png) no-repeat -475px -354px / 620px 416px;
  width: 22px;
  height: 22px;
}
.btn-del{
  border: none;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
  position: relative;
}
.btn-del::after{
  background: url(../img/sprite.png) no-repeat -542px -352px / 620px 416px;
  width: 20px;
  height: 20px;
}
.empathy-box{
  border-radius: 5px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f19393;
  display: none;
}
.empathy-box.active{
  display: block;
}
.btn-empathy{
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 5px;
  background: none;
}
.empathy-count{
  display: block;
  text-align: center;
}
/* edit-form */
.edit-form{
  display: none;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}
.edit-form.active{
  display: flex;
}
#input-title {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}
#input-contents {
  width: 100%;
  padding: 10px 15px;
  height: 350px;
  box-sizing: border-box;
  resize: none;
  line-height: 1.5;
  font-size: 16px;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}
#input-upload {
  display: none;
}
.upload-wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.upload-imgBox{
  position: relative;
}
.btn-reset{
  position: absolute;
  top:0;
  right: -25px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  background: url(../img/minus.png) no-repeat center / contain;
}
.upload-title {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn-upload {
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.btn-upload img {
  width: 70px;
  height: 70px;
}
.btn-editCompleted,
.btn-cancel{
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 1px #555;
  cursor: pointer;
  transition: all .5s;
}
.btn-editCompleted{
  background-color: gold;
  margin-right: 20px;
}
.btn-editCompleted:hover,
.btn-cancel:hover{
  box-shadow: 1px 1px 0px 1px #111;
  transform: translateY(5px);
}
.links .allDiary-link.active{
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}
.links .diary-link.active{
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}


