.section-contents {
  overflow-y: scroll;
  position: relative;
}
.diary-wrapper {
  width: 90%;
  margin: 0 20px 20px auto;
  position: relative;
}
.diary-wrapper.inactive {
  display: none;
}
.diary-title {
  font-size: 14px;
  background-color: #eee;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 20px;
  min-height: 14px;
}
.auth-info {
  display: none;
}
.auth-info.active {
  display: block;
}
.diary-profileImg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 50%;
}
.auth-grade {
  font-size: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 3px;
  background-color: #f9f9f9;
}
.auth-grade.good {
  color: royalblue;
  border-color: royalblue;
}
.auth-grade.pro {
  color: yellowgreen;
  border-color: yellowgreen;
  background-color: rgb(252, 252, 145);
}
.auth-grade.VIP {
  color: hotpink;
  border-color: hotpink;
  background-color: rgb(253, 228, 231);
}
.diary-auth {
  font-size: 14px;
}
.diary-info {
  min-height: 720px;
  padding: 5px 20px 0 20px;
}
.diary-createdAt {
  font-size: 12px;
  color: #bdbdbd;
}
.diary-contents {
  min-height: 460px;
  margin-bottom: 30px;
}
.diary-img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
}
.diary-text {
  font-size: 16px;
  white-space: pre-wrap;
  line-height: 1.5;
  margin: 20px 0;
}
.btn-back {
  position: absolute;
  top: 18px;
  left: 70px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}
.btn-back.inactive {
  display: none;
}
.btn-back::after,
.diary-btns .btn-edit::after,
.diary-btns .btn-del::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-back::after {
  background: url("../img/icon-sprite.png") no-repeat -377px -223px / 410px
    329px;
  width: 8px;
  height: 15px;
}
.diary-btns {
  position: absolute;
  top: 35px;
  right: 20px;
}
.diary-btns .btn-edit,
.diary-btns .btn-del {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
  position: relative;
}
.diary-btns .btn-edit {
  margin-right: 8px;
}
.btn-edit::after {
  background: url("../img/icon-sprite.png") no-repeat -8px -300px / 410px 329px;
  width: 22px;
  height: 22px;
}

.btn-del::after {
  background: url("../img/icon-sprite.png") no-repeat -238px -299px / 410px
    329px;
  width: 20px;
  height: 20px;
}
.diary-wrapper .mood-box {
  position: relative;
  display: none;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto 10px auto;
}
.diary-wrapper .mood-box.happy {
  display: block;
  background: url("../img/icon-sprite.png") no-repeat -305px -109px / 410px
    329px yellowgreen;
}
.diary-wrapper .mood-box.good {
  display: block;
  width: 100px;
  height: 100px;
  background: url("../img/icon-sprite.png") no-repeat -306px -5px / 410px 329px
    gold;
}
.diary-wrapper .mood-box.sad {
  display: block;
  background: url("../img/icon-sprite.png") no-repeat -197px -5px / 410px 329px
    skyblue;
}
.diary-wrapper .mood-box.gloomy {
  display: block;
  background: url("../img/icon-sprite.png") no-repeat -115px -190px / 410px
    329px royalblue;
}
.diary-wrapper .mood-box.angry {
  display: block;
  background: url("../img/icon-sprite.png") no-repeat -5px -190px / 410px 329px
    tomato;
}

.empathy-box {
  border-radius: 5px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f19393;
  display: none;
}
.empathy-box.active {
  display: block;
}
.btn-empathy {
  width: 21px;
  height: 19px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 5px;
  background: url("../img/icon-sprite.png") no-repeat -75px -301px / 410px 329px;
  border: none;
}
.empathy-count {
  display: block;
  text-align: center;
  font-size: 14px;
}
/* edit-form */
.edit-form {
  display: none;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}
.edit-form.active {
  display: flex;
}
.diary-date {
  margin-bottom: 5px;
  font-size: 14px;
  align-self: flex-start;
}
#input-title {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}

#input-contents {
  width: 100%;
  padding: 10px 15px;
  height: 360px;
  box-sizing: border-box;
  resize: none;
  line-height: 1.5;
  font-size: 16px;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}
.edit-form .mood-box {
  align-self: flex-start;
  margin-bottom: 20px;
}
.edit-form .mood-title {
  margin-bottom: 10px;
}
.edit-form .mood-list {
  display: flex;
  gap: 30px;
}
.edit-form .mood-tag {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.edit-form .mood-box label {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  cursor: pointer;
}
.edit-form .mood-box label:hover {
  border-color: black;
  border-width: 3px;
}
.edit-form .mood-box input:focus + label {
  border: 3px solid black;
}

.label-happy {
  background: url("../img/icon-sprite.png") no-repeat -306px -109px / 410px
    329px yellowgreen;
}
.label-good {
  background: url("../img/icon-sprite.png") no-repeat -306px -5px / 410px 329px
    gold;
}
.label-sad {
  background: url("../img/icon-sprite.png") no-repeat -197px -5px / 410px 329px
    skyblue;
}
.label-gloomy {
  background: url("../img/icon-sprite.png") no-repeat -115px -190px / 410px
    329px royalblue;
}
.label-angry {
  background: url("../img/icon-sprite.png") no-repeat -5px -190px / 410px 329px
    tomato;
}
.mood-box input:checked + label {
  border-color: black;
  border-width: 3px;
}
.mood-box input:checked ~ .mood-tag {
  color: dodgerblue;
}
#input-upload {
  display: none;
}
.upload-wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.upload-imgBox {
  position: relative;
}
.btn-reset {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #f19393;
  border-radius: 5px;
}
.btn-reset::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  background: url("../img/icon-sprite.png") no-repeat -45px -304px / 410px 329px;
}
.upload-title {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: bold;
}
.btn-upload {
  display: inline-block;
  width: 180px;
  height: 180px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.btn-upload img {
  width: 70px;
  height: 70px;
}
.btn-upload img.preview {
  width: 100%;
  height: 100%;
  object-position: center;
}
.btn-editCompleted,
.edit-form .btn-cancel {
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 1px #555;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-editCompleted {
  background-color: gold;
  margin-right: 20px;
}

.btn-editCompleted:hover,
.edit-form .btn-cancel:hover {
  box-shadow: 1px 1px 0px 1px #111;
  transform: translateY(5px);
}
.article-comment.inactive {
  display: none;
}
.comment-title {
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 16px;
}
.comment-title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon-sprite.png") no-repeat -145px -303px / 410px
    329px;
  vertical-align: top;
  margin-right: 3px;
}

.comment-form {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.textarea-wrapper {
  width: 100%;
  margin: 0 auto;
  border: 2px solid #bdbdbd;
}
.textarea-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#input-comment {
  box-sizing: border-box;
  padding: 15px;
  resize: none;
  width: 100%;
  height: 110px;
  border: none;
  vertical-align: middle;
  font-size: 14px;
}
.textarea-bottom{
  border-top: 2px solid #bdbdbd;
}
.text-count{
  color: #333;
  margin-left: 15px;
  font-size: 18px;
}
.btn-submit {
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  background-color: #93c4f1;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 15px 20px;
}
.comment-lists {
  padding: 30px 60px;
}
.comment-item {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 15px;
}
.auth-profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.comment-profileImg {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.comment-auth {
  font-size: 16px;
  font-weight: bold;
}
.comment-contents {
  display: none;
}
.comment-contents.active {
  display: block;
}
.comment-text {
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-all;
}
.comment-createdAt {
  display: inline-block;
  font-size: 12px;
  color: #bdbdbd;
  margin: 0 0 5px 10px;
}
.comment-btns {
  display: flex;
  gap: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.comment-btns button {
  border: none;
  background: none;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
  color: #555;
}
.comment-btns .btn-edit::after,
.comment-btns .btn-edit::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  vertical-align: middle;
  background-color: #6f6f6f;
}
.comment-btns .btn-edit::before {
  margin-right: 5px;
}
.comment-btns .btn-edit::after {
  margin-left: 5px;
}
.editComment-form,
.replyComment-form {
  display: none;
  justify-content: center;
  gap: 5px;
}
.editComment-form.active,
.replyComment-form.active {
  display: flex;
}
#input-editComment,
#input-replyComment {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

.editComment-form button,
.replyComment-form button {
  padding: 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.editComment-form .btn-submit,
.replyComment-form .btn-submit {
  background-color: gold;
}
.reply-lists {
  margin: 0 50px;
}
.reply-lists .btn-edit::before {
  display: none;
}
.reply-lists .comment-item {
  position: relative;
}
.reply-lists .comment-item::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -30px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-sprite.png") no-repeat -177px -300px / 410px
    329px;
}
.reply-lists .comment-item {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.links .home-link.active {
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}
.links .allDiary-link.active {
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}
.links .myDiary-link.active {
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}
