@import url('./main.css');
.section-contents{
  overflow-y: scroll;
  position: relative;
}
.diary-wrapper{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.diary-wrapper.inactive{
  display: none;
}
.diary-title{
  font-size: 14px;
  background-color: #eee;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 20px;
}
.diary-info{
  padding: 5px 20px 20px 20px;
}
.diary-createdAt{
  font-size: 14px;
  color: #bdbdbd;
}
.diary-contents{
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.2;
  margin: 20px 0;
}
.diaryList-link{
  position: absolute;
  top: 0px;
  left: -45px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #eee;
}
.diaryList-link::after,
.btn-edit::after,
.btn-del::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diaryList-link::after{
  background: url(../img/sprite.png) no-repeat -477px -304px / 620px 416px;
  width: 8px;
  height: 15px;
}
.diary-btns{
  position: absolute;
  top: 35px;
  right: 20px;
}
.btn-edit{
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background:none;
  position: relative;
}
.btn-edit::after{
  background: url(../img/sprite.png) no-repeat -475px -354px / 620px 416px;
  width: 22px;
  height: 22px;
}
.btn-del{
  border: none;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
  position: relative;
}
.btn-del::after{
  background: url(../img/sprite.png) no-repeat -542px -352px / 620px 416px;
  width: 20px;
  height: 20px;
}
.edit-form{
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.edit-form.active{
  display: flex;
}
.input-title{
  width: 700px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
.input-contents{
  width: 700px;
  padding: 20px;
  height: 500px;
  box-sizing: border-box;
  resize: none;
  line-height: 1.5;
  font-size: 14px;
}
.btn-editCompleted,
.btn-cancel{
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 1px #555;
  cursor: pointer;
  transition: all .5s;
}
.btn-editCompleted{
  background-color: gold;
  margin-left: 20px;
}
.btn-editCompleted:active,
.btn-cancel:active{
  box-shadow: 1px 1px 0px 1px #111;
  transform: translateY(5px);
}


