.findAccount-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.findAccount-wrapper h1{
  margin-bottom: 30px;
}
.findEmail-form, 
.changePw-form{
  display: none;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 50px 20px;
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 400px;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
}
.findEmail-form.active,
.changePw-form.active{
  display: flex;
}
.form-menu{
  width: calc(100% - 60px);
  max-width: 400px;
  display: flex;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #eee;
}

.findEmail, 
.findPw{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-emailForm,
.btn-pwForm{
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-emailForm{
  border-top-left-radius: 10px;
}
.btn-pwForm {
  border-top-right-radius: 10px; 
}
.btn-emailForm.active,
.btn-pwForm.active{
  width: 100%;
  background-color: #1eda85;
  color: #fff;
}
.input-nicknameBox,
.input-emailBox,
.input-phoneBox {
  display: none;
}
#input-nickname,
#input-email,
#input-phone{
  width: 100%;
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
}
.input-nicknameBox.active,
.input-emailBox.active,
.input-phoneBox.active{
  display: block;
}
.input-msg{
  text-indent: 15px;
  font-size: 14px;
  color: indianred;
  margin-top: 5px;
  display: none;
}
.input-msg.active{
  display: block;
}
.find-result,
.change-result{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #bdbdbd;
  padding: 20px 0px;
  display: none;
  font-size: 14px;
  line-height: 1.5;
}
.find-result.active,
.change-result.active{
  display: flex;
}
.btn-findEmail,
.btn-changePw{
  padding: 20px 0px;
  background-color: #1eda85;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
