.section-contents{
  position: relative;
  overflow-y: scroll;
}
.search-bar{
  margin: 0 80px 20px auto;
  width: 180px;
  border-radius: 20px;
  border: none;
  border: 2px solid #bdbdbd;
  padding: 5px 20px;
  background-color: white;
  position: relative;
}
.search-bar::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  background: url(../img/sprite.png) no-repeat -572px -353px / 620px 416px;
  width: 20px;
  height: 20px;
}
.input-search{
  width: 100%;
  margin-left: 15px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}
.input-search:focus{
  outline: none;
}
.diary-lists {
  width: 80%;
  margin: 0 auto;
}
.diaryItem-link {
  display: block;
  padding: 20px 20px 30px 20px;
  height: 100px;
}
.diary-item {
  border: 2px solid lightblue;
  margin-bottom: 20px;
}
.item-title {
  pointer-events: none;
  margin-bottom: 5px;
}
.item-createdAt {
  pointer-events: none;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #bdbdbd;
}
.item-contents {
  pointer-events: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}
.none-item{
  text-align: center;
  margin-top: 50px;
}
.links .diary-link{
  background-color: #fff;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}