@import url('./commons.css');
.section-contents{
  background-color: wheat;
  overflow: hidden;
  position: relative;
}
.title{
  text-align: center;
  margin-top: 20px;
  width: 220px;
  margin: 20px auto;
  position: relative;
}
.title::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  display: block;
  background: url(../img/sprite.png) no-repeat -433px -354px / 620px 416px;
  width: 27px;
  height: 24px;
}
.carousel-wrapper{
  width: 250px;
  height: 160px;
  position: absolute;
  perspective: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective-origin: center -60% ;
}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; 
  transition: all .5s;
}
.card {
  position: absolute;
  width: 230px;
  height: 140px;
  transition: all .5s;
  font-weight: bold;
  left: 10px;
  top: 10px;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
}
.btn-prev, .btn-next{
  position: absolute;
  top: 53%;
  transform: translateY(-47%);
  border: none;
  cursor: pointer;
  pointer-events: none;
  background: none;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 1s;
}
.btn-prev.active, .btn-next.active{
  pointer-events: auto;
  opacity: 1;
}
.btn-prev{
  left: 10px;
}
.btn-next{
  right: 10px;
}
.btn-prev::after,
.btn-next::after{
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50px;
  height: 50px;
}
.btn-prev::after{
  background: url(../img/sprite.png) no-repeat -312px -353px / 620px 416px;
}
.btn-next::after{
  background: url(../img/sprite.png) no-repeat  -372px -353px/ 620px 416px;
}
.carousel-controler{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  padding: 10px 0px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  opacity: 0;
}
.carousel-controler.active{
  opacity: 1;
  pointer-events: auto;
  animation: downUp 1s;
}
.carousel-controler button{
  padding: 3px 5px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid #999;
}
.playSpeed{
  display: block;
}
.slider{
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
}
.links .photoAlbum-link{
  background-color: wheat;
  font-weight: bold;
  border-left: none;
  z-index: 10;
}

@keyframes downUp{
  from{
    transform: translateX(-50%) translateY(100%);
  }
  to{
    transform: translateX(-50%) translateY(0%);
  }
}



